    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        font-family: Arial, sans-serif;
        background: #DDA853;
        display: flex;
        flex-direction: column;
        color: #333;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        text-decoration: none;
        flex-direction: row;
        background-color: #272832;
        min-height: 55px;
    }
    
    #navBar {
        display: flex;
        margin-left: auto;
        list-style: none;
        align-items: stretch;
        z-index: 15;
        height: 100%;
    }
    
    #navBar a {
        display: flex;
        height: 100%;
        align-items: center;
        box-sizing: border-box;
        padding: 0 1rem;
        color: white;
        text-decoration: none;
        margin-right: 1rem;
    }
    
    #navBar ul {
        list-style: none;
        display: flex;
        margin-right: auto;
        align-items: stretch;
        gap: 1rem;
    }
    
    #navBar li {
        display: flex;
    }
    
    #navBar a:hover {
        background-color: #ff7300;
    }
    
    .logo {
        margin-left: 5rem;
        font-size: 1.5rem;
        display: flex;
        color: white;
        text-decoration: none;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }
    
    .menu-text {
        color: white;
    }
    
    #open-sidebarbutton,
    #close-sidebarbutton {
        display: none;
    }
    
    #overlay {
        background-color: rgba(0, 0, 0, 0.774);
        z-index: 14;
        position: fixed;
        inset: 0;
        display: none;
    }
    
    main {
        flex: 1;
    }
    
    footer {
        display: flex;
        width: 100%;
        justify-content: center;
        border: 1px solid black;
        padding: 0.5rem;
        flex-wrap: wrap;
        background-color: #2F2E2A;
        color: white;
    }
    
    footer ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
    footer a {
        display: inline-flex;
        color: white;
        text-decoration: none;
        align-items: center;
    }
    
    footer li {
        display: flex;
    }
    
    .footer-contact {
        display: flex;
        flex-direction: column;
        margin-right: auto;
    }
    
    .footer-contact li {
        display: flex;
        align-items: center;
    }
    
    .footer-copyright {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .footer-socialmedia {
        display: flex;
        margin: 0 2rem;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .footer-policy {
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        color: white;
    }
    
    .footer-policy a {
        margin-right: 1rem;
    }
    
    .about-us {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
    }
    
    .company-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 55ch;
        line-height: 1.4;
    }
    
    .web-developer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        max-width: 55ch;
        line-height: 1.4;
    }
    
    .main-policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 65ch;
        margin: 2rem auto;
        line-height: 1.6;
        padding: 0 1rem;
        background-color: rgb(56, 56, 56);
        color: white;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.726);
        border-radius: 8px;
    }
    
    .main-policy h2 {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }
    
    .main-policy p {
        margin-bottom: 0.5rem;
    }
    
    @media (max-width: 767px) {
        header {
            background-color: #272832;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 100;
            min-height: 11vh;
        }
        #open-sidebarbutton {
            position: sticky;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            border: none;
            cursor: pointer;
            padding: 0.5rem;
            background: none;
            z-index: 10;
            font-size: 1.125rem;
        }
        #close-sidebarbutton {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            position: absolute;
            background: none;
            border: none;
            top: 0rem;
            left: 0.5rem;
            cursor: pointer;
            padding: 0.5rem;
            z-index: 25;
            font-size: 1.125rem;
            color: #ffffff;
        }
        #navBar {
            position: fixed;
            align-items: unset;
            justify-content: unset;
            top: 0;
            right: -100%;
            height: 100vh;
            width: min(10em, 100%);
            z-index: 15;
            border-left: 3px solid rgba(230, 223, 223, 0.384);
            transition: right 0.4s ease-in;
            background-color: #272832;
        }
        #navBar.show {
            right: 0;
            top: 0;
            transition: right 0.4s ease-out;
        }
        #overlay.show {
            opacity: 1;
        }
        #navBar.show~#overlay {
            display: block;
        }
        #navBar a {
            align-items: center;
            margin-right: auto;
            width: 100%;
            padding: 1rem;
            font-size: 1.125rem;
            font-weight: 600;
            text-decoration: none;
            color: #fff;
        }
        #navBar.show a {
            color: #ffffff;
        }
        #navBar ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0;
            width: 100%;
            padding: 1rem 0 0 0;
            gap: 1rem;
            flex: none;
            margin-top: 5rem;
        }
        #navBar li {
            width: 100%;
            justify-content: flex-start;
            align-items: center;
        }
        #navBar [aria-current="page"] {
            border-left: 3px solid #ff7300;
        }
        .main-policy {
            width: 90%;
        }
    }
    
    @media (max-width: 600px) {
        footer {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 'socialmedia' 'contact' 'policy' 'copyright';
            gap: 1.5rem;
            justify-items: center;
            margin: 0 auto;
        }
        .footer-socialmedia {
            grid-area: socialmedia;
            margin: 0 auto;
            gap: 1rem;
        }
        .footer-contact {
            grid-area: contact;
            margin: 0 auto;
        }
        .footer-policy {
            grid-area: policy;
            margin: 0 auto;
            width: fit-content;
        }
        .copyright-text {
            grid-area: copyright;
            margin: 0 auto;
        }
        .footer-copyright {
            grid-area: copyright;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
        }
    }
    
    @media (max-width: 430px) {
        .logo {
            margin-left: 1rem;
        }
    }